*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'outfit';
    background: linear-gradient(#ffdad5,#1b1718);
}

.favicon{
    border-radius: 20px;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-left: 5px;
    text-align: justify;
}

h1{
    font-weight: 600;
    color: #9e0e28;
    font-size: 40px;
    opacity: 0.7;
}

.contact-lefttitle h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin: 5px;
}

.learn{
    font-weight: 600;
    color: #74257d;
    font-size: 40px;
    margin: 5px;
}

.contact-lefttitle hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;  
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
    cursor: pointer; 
}

.contact-inputs button img{
    height: 10px;
}

.contact-right img{
    width: 700px;
    border-radius: 20px;
    height: auto;
}

@media (max-width:800px) {
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}